
aluno.idx
aluno.log
aluno.out
aluno.pdf
aluno.pre
aluno.tex
aluno.atfi
aluno.aux
controle.txt
professor.pdf
source.tex
Capítulos para diagramação
*.aux
*.log
*.aux
*.log
*.blg
*.aux
*.bbl
*.bat
professor.atfi
professor.pgf-plot.gnuplot
x.log
aluno.pgf-plot.gnuplot
professor.pre
professor.ent
professor.idx
Figuras/grafico-final (Small).png
Figuras/maquinas (Small).jpg
Figuras/registro de figuras

*.sublime-*
*.fdb_latexmk
*.fls
*.ind
*.ilg
*.gz
*.xdv
capitulos a ser otimizados.txt
Capítulos prontos - Professor/input.pdf
*.ps1
